body {
	background: url(../img/bg.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;

	font-family: "Gilroy Regular";
}

// ! start
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	padding: 0 20px;
}

a {
	color: white;
}

// ! header
.header {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;

	z-index: 1000;
}
#header__scroll {
	padding: 15px 0;
	background: rgba(0, 0, 0, 0.4);

	transition: 0.7s;
}
#header__scroll.small {
	padding: 12px 0;
	box-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;
	background: rgba(0, 255, 255, 0.22);
	backdrop-filter: blur(3px);
}
.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	font-family: "PermanentMarker";
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;

	cursor: pointer;

	transition: 0.5s;
}

.header__logo:hover {
	transform: scale(1.1);

	color: aqua;
}

// ! nav
.nav {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0;
	list-style: none;

	a {
		display: block;
		margin: 0 12px;

		font-weight: 700;
	}

	i {
		display: block;
		font-size: 20px;
	}

	.fa-instagram{
		font-size: 25px;
	}

	span {
		display: block;
		padding: 0 10px;

		font-weight: 700;
		font-size: 18px;
		position: relative;

		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			width: 0;
			height: 6px;
			border-radius: 16px;
			background: #03e9f4;
			box-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;
			left: 50%;
			bottom: -8px;
			transform: translateX(-50%);
			// transition: all 0.3s ease-out 0s;
			transition: 0.5s;
		}

		&:hover::after {
			width: 100%;
		}

		&.active::after {
			width: 100%;
		}
	}

	// .header__link {
	// 	display: block;
	// 	padding: 0 10px;

	// 	font-weight: 700;
	// 	font-size: 18px;
	// 	position: relative;

	// 	cursor: pointer;
	// }
	// .header__link::after {
	// 	content: "";
	// 	position: absolute;
	// 	width: 0;
	// 	height: 6px;
	// 	border-radius: 16px;
	// 	background: #03e9f4;
	// 	box-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;
	// 	left: 50%;
	// 	bottom: -8px;
	// 	transform: translateX(-50%);
	// 	// transition: all 0.3s ease-out 0s;
	// 	transition: 0.5s;
	// }
	// .header__link:hover::after {
	// 	width: 100%;
	// }
	// .header__link.active::after {
	// 	width: 100%;
	// }
}

// ! nav toggle
.nav-toggle {
	width: 30px;
	padding: 10px 0;
	display: none;

	font-size: 0;
	color: transparent;

	border: 0;
	background: none;
	cursor: pointer;

	position: relative;
	top: 0px;
	right: 10px;
	z-index: 1;
}

.nav-toggle:focus {
	outline: 0;
}

.nav-toggle__item {
	display: block;
	width: 100%;
	height: 3px;

	background-color: #fff;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	transition: background 0.2s linear;
}

.nav-toggle.active .nav-toggle__item {
	background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
	content: "";
	width: 100%;
	height: 3px;

	background-color: #fff;

	position: absolute;
	left: 0;
	z-index: 1;

	transition: transform 0.2s linear;
}

.nav-toggle__item:before {
	top: -8px;
}

.nav-toggle__item:after {
	bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
	transform-origin: left top;
	transform: rotate(45deg) translate3d(0px, -2px, 0);
}

.nav-toggle.active .nav-toggle__item:after {
	transform-origin: left bottom;
	transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

// ! main
.main {
	margin-top: 50px;
}
// ! 1 section
.block__one {
	margin: 100px 0;
	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	// ? text animation
	.text__animation {
		padding: 20px 30px;
		background: #010718;
		box-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;
		border-radius: 15px;
		h1 {
			text-align: center;
			font-weight: 700;
			color: white;

			b {
				color: #4070f4;
			}

			span {
				font-style: italic;
				color: red;
			}
		}
		.container__title {
			width: 270px;
			overflow: hidden;
		}
		.container__title .text {
			position: relative;
			color: #4070f4;
			font-size: 35px;
			font-weight: 600;
		}
		.container__title .text.first-text {
			color: #fff;
		}
		.text.sec-text:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: #010718;
			border-left: 2px solid #4070f4;
			animation: animate 4s steps(12) infinite;
		}
		@keyframes animate {
			40%,
			60% {
				left: calc(100% + 4px);
			}
			100% {
				left: 0%;
			}
		}
	}

	// ? picture
	.picture {
		img {
			width: 100%;
			max-width: 450px;
		}
	}
}

// ! 2 section
.block__two {
	margin: 100px 0;
	padding: 50px 0;

	box-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(7px);

	.sub__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.text {
			.title {
				margin-bottom: 30px;

				text-align: center;
				font-size: 40px;
				font-family: "PermanentMarker";
				text-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;

				color: aqua;

				span {
					color: red;
				}
			}
			p {
				max-width: 740px;
				font-size: 20px;
				font-weight: 700;
				color: white;

				span {
					font-style: italic;
					color: red;
				}
			}
		}
		.photo {
			img {
				width: 350px;
				border-radius: 15px;
				box-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4;
			}
		}
	}
}

// ! 3 section
.block__three {
	margin: 100px 0;

	box-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;
	background: #111111;
}

// ! 4 section in _carousel

// ! 5 section
.block__five {
	margin: 100px 0;
	padding: 50px 0;

	box-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(7px);

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.title {
			margin-bottom: 20px;

			text-align: center;
			font-size: 40px;
			font-family: "PermanentMarker";
			text-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;

			color: aqua;

			span {
				color: red;
			}
		}
	}
}

// ! 6 section
.block__six {
	margin: 100px 0;
	padding: 50px 0;

	box-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(7px);

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.title {
			margin-bottom: 20px;

			text-align: center;
			font-size: 40px;
			font-family: "PermanentMarker";
			text-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;

			color: aqua;

			span {
				color: red;
			}
		}
	}

	.contact__icons {
		display: flex;
		a {
			display: block;
			margin: 0 20px;
		}
		img {
			border-radius: 50%;
			width: 100px;

			&:first-child {
				margin: 5px;
			}
		}
	}
}

// ! footer
.footer {
	margin-top: auto;

	box-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(7px);

	.content {
		p {
			text-align: center;
			font-size: 40px;
			font-family: "PermanentMarker";
			text-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;

			color: aqua;

			span {
				color: red;
			}
		}
	}
}
